{namespace neos=Neos\Neos\ViewHelpers}
<f:render partial="Shared/FlashMessages" />

<f:if condition="{message}">
  <div class="neos-row-fluid neos-module-container">
    <div class="neos-span6">
      <legend>Message</legend>
      <table class="neos-info-table">
        <tbody>
          <tr>
            <th>Title</th>
            <td>{message.title}</td>
          </tr>
          <tr>
            <th>Message</th>
            <td>{message.body}</td>
          </tr>
          <tr>
            <th>Date sent</th>
            <td>
              <f:if condition="{message.timestamp}">
                <f:then>
                  <f:format.date format="d.m.Y H:i">
                    @{message.timestamp}
                  </f:format.date>
                </f:then>
                <f:else>
                  -
                </f:else>
              </f:if>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="neos-span6">
      <legend>Options</legend>
      <table class="neos-info-table">
        <tbody>
          <tr>
            <th>Require Interaction</th>
            <td>{message.requireInteraction ? "Yes" : "No"}</td>
          </tr>
          <tr>
            <th>Silent</th>
            <td>{message.silent ? "Yes" : "No"}</td>
          </tr>
          <tr>
            <th>Tag</th>
            <td>
              <f:if condition="{message.tag} != ''">
                <f:then>
                  <span class="neos-label">
                    {message.tag}
                  </span>
                  (<b>Renotify:</b> {message.renotify ? "Yes" : "No"})
                </f:then>
                <f:else>
                  None
                </f:else>
              </f:if>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="neos-footer">
    <f:link.action action="index" class="neos-button">
      Back
    </f:link.action>

    <button class="neos-button neos-button-danger" data-toggle="modal" href="#message-delete">
      <i class="fas fa-trash-alt icon-white"></i> Delete Message
    </button>

    <button class="neos-button neos-button-success" data-toggle="modal" href="#message-send">
      <i class="fas fa-share icon-white"></i> Send Message
    </button>
  </div>
  <f:render partial="Shared/DeleteMessageModal" arguments="{id: 'message-delete', message: '{message}'}" />
  <f:render partial="Shared/SendMessageModal" arguments="{id: 'message-send', message: '{message}'}" />
</f:if>
